include ../../helpers/_mixins

//-
    PL - My Account Service

- var userInformation = data.section.myaccount.userInformation;
- var accountInformation = data.section.myaccount.accountInformation;

+serviceView("my-account", true, data.section.helpdesk.services.myaccount)
    div(flex-gt-sm="45" class="flat-panel md-whiteframe-z1")
        md-toolbar(class="flat-panel__toolbar flat-panel__header")
            header(class="md-toolbar-tools")
                h3= userInformation.headline
        md-content(layout-padding class="flat-panel__body")
            form(name="userForm" novalidate layout="column" class="user-form__form UF" ng-submit="userForm.$invalid || MAC.userForm.submit($event)")
                md-input-container
                    label(for="UFFN")= userInformation.form.name.value
                    input(id="UFFN" name="firstName" ng-model="user.firstName" type="text" required pattern="^[A-ZĄĆĘŁŃÓŚŹŻ]{1}[a-ząćęłńóśźż]{1,50}$")
                    div(ng-messages="userForm.firstName.$error" role="alert")
                        div(ng-message="required")= userInformation.form.name.errors.required
                        div(ng-message="pattern")= userInformation.form.name.errors.pattern
                md-input-container
                    label(for="UFLN")= userInformation.form.lastName.value
                    input(id="UFLN" name="lastName" ng-model="user.lastName" type="text" required pattern="^[A-ZĄĆĘŁŃÓŚŹŻ]{1}[a-ząćęłńóśźż]{1,50}$")
                    div(ng-messages="userForm.lastName.$error" role="alert")
                        div(ng-message="required")= userInformation.form.lastName.errors.required
                        div(ng-message="pattern")= userInformation.form.lastName.errors.pattern
                md-input-container
                    label(for="UFG")= userInformation.form.gender.value
                    md-select(id="UFG" name="gender" ng-model="user.gender" required)
                        md-option(value="male")= userInformation.form.gender.male
                        md-option(value="female")= userInformation.form.gender.female
                    div(class="md-errors-spacer")
                    div(ng-messages="userForm.gender.$error" role="alert")
                        div(ng-message="required")= userInformation.form.gender.errors.required
                md-input-container
                    label(for="UFE")= userInformation.form.email.value
                    input(id="UFE" name="email" ng-model="user.email" type="email" required ng-disabled="true")
                    div(ng-messages="userForm.email.$error" role="alert")
                        div(ng-message="email")= userInformation.form.email.errors.email
                        div(ng-message="required")= userInformation.form.email.errors.required
                md-input-container
                    label(for="UFP")= userInformation.form.password.value
                    input(id="UFP" name="password" ng-model="user.password" type="password" ng-minlength="userForm.password.$dirty ? 8 : 0" ng-maxlength="userForm.password.$dirty ? 25 : 0")
                    div(ng-messages="userForm.password.$error" role="alert")
                        div(ng-message="minlength")= userInformation.form.password.errors.minLength
                        div(ng-message="maxlength")= userInformation.form.password.errors.maxLength
                md-input-container
                    label(for="UFCP")= userInformation.form.confirmPassword.value
                    input(id="UFCP" name="confirmPassword" ng-model="user.confirmPassword" type="password" validate-equals="userForm.password ? user.password : ''")
                    div(ng-messages="userForm.confirmPassword.$error" role="alert")
                        div(ng-message="validateEquals")= userInformation.form.confirmPassword.errors.validateEquals
                div(layout="row" layout-align="center center" layout-wrap)
                    md-button(type="submit" class="btn btn-primary")= userInformation.form.submitBtn
                    md-button(ng-click="MAC.userForm.delete()" class="btn btn-warn")= userInformation.form.deleteBtn
    div(flex-gt-sm="35" class="flat-panel md-whiteframe-z1")
        md-toolbar(class="flat-panel__toolbar flat-panel__header")
            header(class="md-toolbar-tools")
                h3= accountInformation.headline
        md-content(layout-padding class="flat-panel__body")
            md-list
                md-list-item(layout="row" class="flat-panel__list-item")
                    p(flex="60")= accountInformation.password.value
                    p(ng-if="user.isPassword" flex)= accountInformation.password.info.success
                    p(ng-if="!user.isPassword" flex)= accountInformation.password.info.error
                md-list-item(layout="row" class="flat-panel__list-item")
                    p(flex="60")= accountInformation.role.value
                    p(ng-if="user.role === 'user'" flex)= accountInformation.role.user
                    p(ng-if="user.role === 'assistant'" flex)= accountInformation.role.assistant
                    p(ng-if="user.role === 'admin'" flex)= accountInformation.role.admin
                md-list-item(layout="row" class="flat-panel__list-item")
                    p(flex="60")= accountInformation.active.value
                    p(ng-if="user.active" flex)= accountInformation.active.info.success
                    p(ng-if="!user.active" flex)= accountInformation.active.info.error
                md-list-item(ng-if="::user.locale" layout="row" class="flat-panel__list-item")
                    p(flex="60")= accountInformation.locale.value
                    p(flex class="text-uppercase") {{::user.locale}}